.idea/
auto/
autom4te.cache/
bin/
debian/telegram-cli/
dep/
libs/
nbproject/
objs/
debian/files
debian/telegram-cli.debhelper.log
debian/telegram-cli.substvars
rpm/BUILD
rpm/BUILDROOT
rpm/RPMS
rpm/SRPMS
rpm/SOURCES
__pycache__
Makefile
aclocal.m4
config.h
config.h.in~
config.log
config.status
configure
libtool
telegram
*.o
