Source: telegram-cli
Section: net
Priority: optional
Maintainer: Peter J. Mello <admin@petermello.net>
Build-Depends: debhelper-compat (= 12), autoconf-archive, autotools-dev,
 lsb-release, libconfig-dev, libreadline-dev, libssl-dev | libssl1.0-dev,
 libevent-dev, libjansson-dev, libpython3-all-dev, liblua5.3-dev,
 libgcrypt20-dev | libgcrypt-dev, lua-lgi, lua5.3
Standards-Version: 4.5.1
Homepage: https://github.com/RogueScholar/telegram-cli
Vcs-Git: https://github.com/RogueScholar/telegram-cli.git
Vcs-Browser: https://github.com/RogueScholar/telegram-cli
Rules-Requires-Root: no

Package: telegram-cli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command-line interface for Telegram Messenger
 Telegram is a cloud-based instant messaging platform designed for smartphones,
 similar to WhatsApp but more flexible and powerful. You can send messages,
 photos, videos and documents to other people who are in your contacts (and have
 Telegram) individually or in groups of up to 100,000! Telegram also supports
 secret chats with verified end-to-end (E2E) encryption for moments when privacy
 is required.
 .
 This package contains a command-line based client for Telegram with the
 following features:
  * Colored terminal messages.
  * Message management: history, stats, etc.
  * Group chat: create and manage groups.
  * Secret chat: secured and encrypted conversations.
  * Contact management: add/edit/remove contacts.
  * Multimedia support: send/load photos and videos.
