#!/usr/bin/make -f
# -*- mode: makefile-gmake; coding: utf-8 -*-

BASH_PATH ::= $(shell which bash)
SHELL     ::= $(shell realpath -Leq $(BASH_PATH) || echo '/bin/sh')

ifeq (,$(filter terse,$(DEB_BUILD_OPTIONS)))
	DH_INTERNAL_OPTIONS = --verbose
	DH_VERBOSE          = 1
endif

DEB_BUILD_MAINT_OPTIONS = hardening=+all
DEB_CFLAGS_MAINT_APPEND = -Wno-error=cast-function-type
DPKG_EXPORT_BUILDFLAGS  = 1

DISTRO_VENDOR ::= $(shell dpkg-vendor --query Vendor)
UBUNTUVER     ::= $(shell lsb_release -rs | cut -c-5)

ifeq (Ubuntu,$(DISTRO_VENDOR))
ifneq ($(UBUNTUVER),$(shell printf "$(UBUNTUVER)\n17.10\n" | sort -g | head -1))
	DEB_BUILD_MAINT_OPTIONS += future=+lfs
	DPKG_EXPORT_BUILDTOOLS   = 1
    include /usr/share/dpkg/buildtools.mk
endif
endif

ifeq (Ubuntu,$(DISTRO_VENDOR))
ifneq ($(UBUNTUVER),$(shell printf "$(UBUNTUVER)\n19.04\n" | sort -g | head -1))
	DEB_BUILD_MAINT_OPTIONS += reproducible=+fixfilepath
endif
endif

ifeq (Ubuntu,$(DISTRO_VENDOR))
ifneq ($(UBUNTUVER),$(shell printf "$(UBUNTUVER)\n21.04\n" | sort -g | head -1))
	DEB_BUILD_MAINT_OPTIONS += optimize=+lto
endif
endif

include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS DEB_CFLAGS_MAINT_APPEND DH_VERBOSE


%:
	dh $@ -v


override_dh_auto_clean:
	cd $(CURDIR)/tgl && $(MAKE) clean
	dh_auto_clean -O-v

override_dh_auto_configure:
	@cp -fv $(CURDIR)/tg-server.pub $(CURDIR)/server.pub
	dh_auto_configure -O-v -- --enable-extf --enable-python --enable-libevent \
		LUA="/usr/bin/lua5.3" LUA_INCLUDE="-I/usr/include/lua5.3" \
		LUA_LIB="-llua5.3"

override_dh_shlibdeps:
	dh_shlibdeps -O-v -l/lib/$(DEB_HOST_MULTIARCH)
